body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.text {
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.card.desc.text {
    border-top: 1px solid #fff;
}

.desc.text {
    font-size: 1em;
    line-height: 1.5;
}

.title.text {
    font-weight: bold;
    font-size: 1rem;
}

.carousel {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    width: 100%;
    height: 100%;
}

.container {
    transform-style:preserve-3d;
    perspective: 100px;
    perspective-origin: bottom;
    position: absolute;
    left: 60%;
}

#images .carousel-item {
    transition:all 0.75s ease-in-out;
}

#description .carousel-item {
    transition: all 0.6s ease-in-out;
}

#description {
    transform: rotateY(-2deg) skewX(-1deg);
    height: 200vh;
}

#description > div {
    left: 0;
    max-width: 400px;
    max-height: 600px;
    position: absolute;
    background-color: #111111cc;
    box-shadow: 12px 12px 2px 1px #00000044;
    padding: 16px;
}

#description .links {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    transition: all 0.2s ease-in-out;
    padding: 2px 16px;
}

.btn:hover {
    color: #111;
    background-color:white;
}

#about {
    position: absolute;
    padding: 64px;
    width: fit-content;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    z-index: 1000;
    background-color: #111111cc;
    color: white;
    animation: opening 0.7s ease-in-out forwards;
}

@keyframes opening{
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

.navigator {
    position: absolute;
    bottom: 64px;
    right: 64px;
    margin-right: 0;
    display: flex;
}

.navigator #blips {
    display: flex;
}

.navigator .blip > div:hover, .btn {
    cursor: pointer;
}

.navigator .blip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.navigator .blip > div {
    background-color: #333;
    border-radius: 500px;
    width: 16px;
    height: 16px;
}

#blips .selected {
    background-color: white;
}