:root {
    --primary-background: #11111199;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.text {
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.desc.text {
    font-size: 1.4vw;
    line-height: 1.5;
}

.title.text {
    font-weight: bold;
    font-size: 2.5vw;
}

.bigger.title.text {
    font-size: 3.4vw;
}

.container {
    z-index: 1000;
    padding: 32px;
    background-color: var(--primary-background);
    transform: translateX(-15px) skewX(-15deg);
    width: 60%;
}

.carousel {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    width: 100%;
    height: 100%;
}

#images .carousel-item {
    transition:all 0.75s ease-in-out;
}

#descriptions > div {
    transition:all 0.6s ease-in-out;
}

#about {
    position: relative;
    display: flex;
    left: -100%;
    top: 0;
    animation: opening 0.7s ease-in-out forwards;
    box-shadow: -20px 0px var(--primary-background);
    flex-direction: column;
    align-items: end;
    gap: 4px;
}

.description {
    position: absolute;
    bottom: 0;
    right:0;
    box-shadow: 60px 0px var(--primary-background);
}

.description .links {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    transition: all 0.2s ease-in-out;
    padding: 2px 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    color: #111;
    background-color:white;
}

@keyframes opening{
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes opening2{
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

.navigator {
    position: relative;
    justify-content: right;
}

.navigator > div {
    display: flex;
    width: fit-content;
}

.navigator #blips {
    display: flex;
}

.navigator .blip > div:hover, .btn {
    cursor: pointer;
}

.navigator .blip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.navigator .blip > div {
    background-color: #333;
    border-radius: 500px;
    width: 16px;
    height: 16px;
}

#blips .selected {
    background-color: white;
}